<!DOCTYPE html>
<html>
<head>
    <title>Acceptance Information</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <style>
            .center-text {
                font-style: normal;
            }
            .mt-custom {
                margin-top: 5rem;
            }
            .container-custom {
                background-color: #97978c;
            }
            .img-custom {
                max-width: 60%;
                height: auto;
            }
        </style>
</head>
<body class="bg-success">
    <div class="bg-success text-black">     
        <h2 class="text-center mt-3" style="font-style: normal">Outdoor Power Sales & Solutions Acceptance Page</h2>

        <div class="row justify-content-center mt-5">
            <div class="col-lg-4 bg-light border border-dark p-3" id="acceptance">
                <h2>Thanks for making an appointment with us, <%= user.name %>! We are looking forward to servicing your equipment.</h2>
                <h3> Appointment Details:</h3>
                <ul>
                    <li>Service Type: <%= userOptions.schedule.description%></li>
                    <li>Brand of Equipment: <%= userOptions.brand %></li>
                    <li>Equipment Type: <%= userOptions.equipment %></li>
                    <li>Requests: <%= userOptions.requests %></li>
                    <li>Symptoms: <%= userOptions.symptoms %></li>
                    <li>Appointment Time: <%= userOptions.schedule.date %> at <%= userOptions.schedule.time %></li>
                </ul>
                <img src='assets/download.png' class="img-fluid">
            </div>
            <div class="col-lg-4">
                <ul>    
                    <li><h3>Please have the equipment accessible</h3></li>
                    <li><h3>Expect a call or text one hour before the appointment</h3></li>
                    <li><h3>Cancellations must give 24 hour notice</h3></li>
                    <li><h3>Have all documentation ready</h3></li>
                </ul>
            </div> 
        </div>
    </div>
</body>
</html>

